name: "Cache Nix Flake Result (cachix)"
on:
  workflow_dispatch:
    inputs:
      do-update:
        description: 'Set to true to update and commit flake.lock'
        required: true
        default: true
        type: boolean
  push:
    branches:
      - "dev"
  schedule:
    - cron: '0 11 * * *'

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    - name: Set flag
      run: |
        echo "${{ github.event_name }}"
        if [ "${{ github.event_name }}" != "workflow_dispatch" ]; then
          echo "DO_UPDATE=false" >> $GITHUB_ENV
        else
          echo "DO_UPDATE=${{ github.event.inputs.do-update }}" >> $GITHUB_ENV
        fi
    - name: Maximize build space
      if: env.DO_UPDATE == 'true'
      uses: easimon/maximize-build-space@master
      with:
        build-mount-path: '/nix'
        remove-dotnet: 'true'
        remove-android: 'true'
        remove-haskell: 'true'
        remove-codeql: 'true'
        remove-docker-images: 'true'
    - name: Checkout
      uses: actions/checkout@v4
      with:
        token: '${{ secrets.ACTION_GITHUB_TOKEN }}'
    - name: Install nix
      uses: cachix/install-nix-action@master
      with:
        github_access_token: '${{ secrets.ACTION_GITHUB_TOKEN }}'
    - name: Set nix daemon tmp path
      if: env.DO_UPDATE == 'true'
      run: |
        sudo mkdir --parents /nix/tmp
        sudo chmod 777 /nix/tmp

        cat > override.conf <<EOF
        [Service]
        Environment="TMPDIR=/nix/tmp"
        EOF
        sudo mkdir /etc/systemd/system/nix-daemon.service.d/
        sudo mv override.conf /etc/systemd/system/nix-daemon.service.d/override.conf
        sudo systemctl daemon-reload
        sudo systemctl restart nix-daemon
    - name: Import GPG key
      if: env.DO_UPDATE == 'true'
      id: import-gpg
      uses: crazy-max/ghaction-import-gpg@master
      with:
        gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
        passphrase: ${{ secrets.PASSPHRASE }}
        git_user_signingkey: true
        git_commit_gpgsign: true
    - name: Configure git credentials
      if: env.DO_UPDATE == 'true'
      run: |
        git config --global user.email "${{ steps.import-gpg.outputs.email }}"
        git config --global user.name "${{ steps.import-gpg.outputs.name }}"
    - name: Setup cachix
      uses: cachix/cachix-action@master
      with:
        name: antares0982
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
    - name: Nix flake update
      if: env.DO_UPDATE == 'true'
      run: |
        nix --option commit-lockfile-summary "flake.lock: Update [skip ci]" flake update --commit-lock-file
    - name: Test Nix Develop
      run: |
        nix develop --command echo .
        json_content=$(cat ./devshell/pyver.json)
        min_ver=$(echo "$json_content" | jq '.minSupportVer')
        max_ver=$(echo "$json_content" | jq '.maxSupportVer')
        for ((i=min_ver; i<=max_ver; i++)); do
          nix develop .#buildenv-py3$i --command echo buildenv-py3$i
        done
        if [ "$DO_UPDATE" = "true" ]; then
          if [ -z $(git status --porcelain) ]; then
            echo "clean, skip..."
          else
            git add --all
            git commit --message "Flake Update"
          fi
        fi
    - name: Git push
      if: env.DO_UPDATE == 'true'
      run: |
        git config --global pull.rebase false
        git pull
        git push
